*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    text-decoration:none;
    background: transparent;
    font-family: 'Poppins', sans-s;
}

body{
    background:#020320;
    color: white;
    overflow: hidden;
    overflow-y:scroll;
}